.container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 500px;
}

.form_umkm {
    margin-top: 55px;
}

.hidden { display: none; }

.container > div {
    margin-right: 30px;
}

.left_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}